<div class="container">
  <h1>Tasks list</h1>

  <div class="task-list">
    <% @tasks.each do |task| %>
    <div class="task-details">
      <input type="checkbox" name="task" />
      <label for="task"><%= link_to task.title, task_path(task) %>
      </label><%= link_to "X", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>
    <% end %>
  </div>

  <%= link_to '+ Add a new task', tasks_new_path %>
</div>

<div class="footer">
  <%= link_to 'Go back to home page', root_path %>
</div>
